.DS_Store
dist/
utils.egg-info/
build/
.ipynb_checkpoints
**/.DS_Store
*.DS_Store
**.__pycache__/
**/*.__pycache__/
**.ipynb_checkpoints
**/models_weights
*.egg-info
**/*.egg-info
00_Data_Preprocessed
01_Data_Prepared
kilbixyTransformation.png
ardmayleTransformation.png
knockainyTransformation.png
kilmacahillTransformation.png
ballynahichTransformation.png
glenograTransformation.png

